<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BHS/About</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="./../assets/img/logo-1.png" rel="icon">
    <link href="./../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="./../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="./../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="./../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="./../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="./css/style.css" rel="stylesheet">

    <!-- slider animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <style>
        /*--------------------------------------------------------------
           # About image
        --------------------------------------------------------------*/
        .aboutsec{
            margin-top: 10%;
        }
    </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <img src="./../assets\img\logo-1.png" style="height:auto; width: auto;">
            </a>
            <p>
                <b>भोपाल स्वास्थ्य सेवाएं<br>( Bhopal Health Services )</b>
            </p>

            <nav id="navbar" class="navbar">
                <div class="container teal borderYtoX">
                    <ul>
                        <li><a class="nav-link scrollto" href="./../index.html">Home</a></li>
                        <li><a class="nav-link scrollto" href="#">About</a></li>
                        <li><a class="nav-link scrollto" href="./services.html">Services</a></li>
                        <li><a class="nav-link scrollto" href="./Contact.html">Contact</a>
                        </li>
                        <li class="dropdown"><a href="#"><span>Hospital</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li class="dropdown"><a href="./Govererment.html"><span>Govermenmt Hospitals</span> </a>
                                </li>
                                <li class="dropdown"><a href="./Private.html"><span>Private Hospitals</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </div>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->
    <!-- ====================About section======================== -->
    <main>

        <div class="wrapper aboutsec">
            <div class="container ">

                <div id="SkipContent" tabindex="-1"></div>
                <div class="row" id="row-content">
                    <div class="col-12">

                        <h1>About Division</h1>
                        <div id="post-1532" class="post-1532 page type-page status-publish hentry">
                            <p>Under the Madhya Pradesh Restoration of Commissioners Ordinance, 1956 (V) divisions were
                                created in the state. Government of Madhya Pradesh, Revenue department published the
                                Gazette notification on 1st November, 1956 to constitute this division. The headquarters
                                of this division was set at Bhopal.<br>
                                There were 7 districts in Bhopal division, including Hoshangabad and Betul district in
                                addition to Betul district and Sehore, Vidisha, Raisen, Rajgarh, Shajapur, Hoshangabad
                                and Betul. Bhopal did not have the status of the district at that time and the present
                                area of Bhopal district was under Sehore district.</p>
                            <p>Revenue Department’s notification number 3870-seven-in-one dated December 13, 1971,
                                changed the boundaries of Bhopal division and excluded the entire district of
                                Hoshangabad and created Hoshangabad division from the date of publication of the
                                notification. After the formation of Hoshangabad division, 6 districts remained in
                                Bhopal division.</p>
                            <p>The Revenue Department created Bhopal district from October 2, 1972 by excluding the
                                boundaries of Tehsil Huzur and Tehsil Berasia from Sehore district. In this way, 7
                                districts were again formed in the division.</p>
                            <p>In the year 1976, the boundaries of Shajapur district were excluded from Bhopal division
                                and this district was included in Ujjain division. As a result, there were 6 districts
                                in Bhopal division. In these districts, the boundaries of District Betul came from the
                                state of Maharashtra and the boundaries of District Rajgarh came from Rajasthan
                                province.</p>
                            <p>Madhya Pradesh Government, Revenue Department’s notification number F-1-12-08-seven-SH-6
                                dated 26 August 2008, the boundaries of Bhopal division were changed again and the
                                districts included in Hoshangabad division besides Hoshangabad and Harda Bhopal division
                                The new Narmadapuram division was created, covering Hoshangabad, Harda and Betul
                                districts, with the headquarters of Hoshangabad, excluding the boundaries of the entire
                                district Betul.<br>
                                After the division of the government from time to time, presently Bhopal division
                                consists of 5 districts – Bhopal, Raisen, Rajgarh, Sehore, and Vidisha.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ====================end About section======================== -->
    <!-- ====================footer section======================== -->
    <section class="footer">
        <div class="container text-center">
            <div class="row">

                <!-- footer col-1  section ------------------------------------------------------------------------------>
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>
                        <a href="./../index.html">Home</a>
                    </p>

                    <p>
                        <a href="#">About</a>
                    </p>

                    <p>
                        <a href="./services.html">Services</a>
                    </p>

                    <p>
                        <a href="./Contact.html">Contact</a>
                    </p>

                    <p>
                        <a href="./Govererment.html">Goverment</a>
                    </p>

                    <p>
                        <a href="./Private.html">Private</a>
                    </p>
                </div>
                <!-- footer col-3  section ------------------------------------------------------------------------------>
                <div class="col-md-3">
                    <h1>Follow Us</h1>

                    <p>
                        <i class="fab fa-youtube footer-logo"></i>
                        <a href="https://www.youtube.com/">You Tube</a>
                    </p>

                    <p>
                        <i class="fab fa-facebook footer-logo"></i>
                        <a href="https://www.facebook.com/">Facebook</a>
                    </p>

                    <p>
                        <i class="fab fa-linkedin footer-logo"></i>
                        <a href="https://www.linkedin.com/feed/"> LinkedIn</a>
                    </p>

                    <p>
                        <i class="fab fa-twitter-square footer-logo"></i>
                        <a href="https://twitter.com/?lang=en">Twitter</a>
                    </p>

                    <p>
                        <i class="fab fa-twitter-square footer-logo"></i>
                        <a href="https://www.instagram.com/">Instagram</a>
                    </p>
                </div>
                <!-- footer col-4  section ------------------------------------------------------------------------------>
                <div class="col-md-6 footer-image">
                    <h1>Download App</h1>
                    <a
                        href="https://play.google.com/store?utm_source=apac_med&utm_medium=hasem&utm_content=Oct0121&utm_campaign=Evergreen&pcampaignid=MKT-EDR-apac-in-1003227-med-hasem-py-Evergreen-Oct0121-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700058906718226_creativeid_480977734703_device_c&gclid=EAIaIQobChMIqbqf_MuU9AIVmx0rCh0dWQMEEAAYASAAEgICWPD_BwE&gclsrc=aw.ds">
                        <img src="./../assets/img/footer-image.png" alt=""> </a>
                </div>

            </div>
            <hr>
            <h1 class="copyright"> <i class="fas fa-at"></i> &copy; Devloper | All Right Reserved</h1>
        </div>
    </section>
    <!-- ====================end footer section======================== -->

</body>

</html>