<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BHS/services</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="./../assets/img/logo-1.png" rel="icon">
    <link href="./../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="./../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="./../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="./../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="./../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="./css/style.css" rel="stylesheet">

    <!-- slider animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <style>
        /*--------------------------------------------------------------
            # services image
        --------------------------------------------------------------*/
        .services-content-div .company h3 {
            color: #ec6516;
            padding-bottom: 10px;
            text-align: left;
            font-size: 24px;
        }

        .company-more {
            font-size: 25px;
            color: #698591;
            text-align: left;
        }

        .services-content-div {
            padding: 50px 0px;
            margin-top: 6%;
        }

        .services-content-div h4 {
            text-align: left;
            color: #0E4971;
            font-weight: bold;
            font-size: 18px;
        }

        .services-ul {
            margin-bottom: 20px;
            text-align: left;
        }

        .services-ul li {
            list-style: disc;
            padding-bottom: 8px;
            text-align: left;
            color: #072643;
            font-size: 14px;
            margin-left: 50px;
        }

        .img-responsive,
        .thumbnail>img,
        .thumbnail a>img,
        .carousel-inner>.item>img,
        .carousel-inner>.item>a>img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        @media (max-width: 991px) {
            .services-content-div {
                margin-top: 10%;
            }
        }
    </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <img src="./../assets\img\logo-1.png" style="height:auto; width: auto;">
            </a>
            <p>
                <b>भोपाल स्वास्थ्य सेवाएं<br>( Bhopal Health Services )</b>
            </p>

            <nav id="navbar" class="navbar">
                <div class="container teal borderYtoX">
                    <ul>
                        <li><a class="nav-link scrollto" href="./../index.html">Home</a></li>
                        <li><a class="nav-link scrollto" href="./About.html">About</a></li>
                        <li><a class="nav-link scrollto" href="#">Services</a></li>
                        <li><a class="nav-link scrollto" href="./Contact.html">Contact</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">
                                <span>Hospital</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li class="dropdown"><a href="./Govererment.html"><span>Govermenmt Hospitals</span> </a></li>
                                <li class="dropdown"><a href="./Private.html"><span>Private Hospitals</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </div>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->
    <!-- ====================Services section======================== -->

    <div class="services-content-div">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 company">
                    <h3>
                        Our Services would include:
                    </h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" id="our-services-include-div">

                    <h4>
                        1. Market Feasibility Studies to help you geta better understanding of:
                    </h4>
                    <ul class="services-ul">
                        <li>
                            Existing medical facilities available in the Primary &amp; Secondary catchment areas of your
                            Hospital.
                        </li>
                        <li>
                            Need gaps if any in the existing medical facilities which the new hospital can help fulfil
                        </li>
                        <li>
                            Opinion of Healthcare Practitioners in the area on the need and the set of specialities that
                            would work
                            given the needs.
                        </li>
                        <li>
                            Modalities the new hospital should adopt which will potentially attract patients from nearby
                            areas in
                            the State
                        </li>
                    </ul>
                    <h4>
                        2. Detailed Project Report (DPR), to provide you :
                    </h4>

                    <ul class="services-ul">
                        <li>
                            Cost of the Project - Land, Building, Equipment &amp; Services.
                        </li>
                        <li>
                            Cost of running the Hospital - Cost of Operations.
                        </li>
                        <li>
                            Breakeven Levels of Operation for achieving Profitability?
                        </li>
                        <li>
                            Profit &amp; Loss and Cash Flow Projections over a 10-year period
                        </li>
                    </ul>
                    <h4>
                        3. Equipment Planning, Procurement, Installation &amp; Commissioning.
                    </h4>

                    <ul class="services-ul">
                        <li>
                            Developing full list of Equipment, along with the Budget
                        </li>
                        <li>
                            Selecting right equipment based on price, end user requirements, upgradeability,
                            availability of
                            technical support, accessories and spare parts
                        </li>
                        <li>
                            Procurement support, including tender documents
                        </li>
                        <li>
                            Preparing the layout of final equipment &amp;space requirements
                        </li>

                        <li>
                            Installation &amp; Commissioning Support
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 company">
                    <h3>Support</h3>
                </div>

                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-1.jpg" class="img-responsive"
                        alt="Hospitals Project Feasibility Study">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-2.jpg" class="img-responsive"
                        alt="Market Surveys Project Feasibility Studies">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-3.jpg" class="img-responsive"
                        alt="Feasibility Study for Medical Centers">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-4.jpg" class="img-responsive"
                        alt="Hospital Equipment Planning">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-5.jpg" class="img-responsive" alt="Hospital Planners">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-6.jpg" class="img-responsive"
                        alt="Medical Equipment Consultants">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-7.jpg" class="img-responsive"
                        alt="Medical Equipment Planning and Procurement">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-8.jpg" class="img-responsive"
                        alt="Green Hospital Design">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-9.jpg" class="img-responsive"
                        alt="Green Hospital Design">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-10.jpg" class="img-responsive"
                        alt="Lean &amp; Smart Hospitals">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-11.jpg" class="img-responsive"
                        alt="Designing Hospitals to be Patient Friendly">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="./../assets/img/services/services-12.jpg" class="img-responsive"
                        alt="End to End - Turnkey Solutions">
                </div>
            </div>
        </div>
    </div>
    <!-- ====================end Services section======================== -->
    <!-- ====================footer section======================== -->
    <section class="footer">
        <div class="container text-center">
            <div class="row">

                <!-- footer col-1  section ------------------------------------------------------------------------------>
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>
                        <a href="./../index.html">Home</a>
                    </p>

                    <p>
                        <a href="./About.html">About</a>
                    </p>

                    <p>
                        <a href="#">Services</a>
                    </p>

                    <p>
                        <a href="./Contact.html">Contact</a>
                    </p>

                    <p>
                        <a href="./Govererment.html">Goverment</a>
                    </p>

                    <p>
                        <a href="./Private.html">Private</a>
                    </p>
                </div>
                <!-- footer col-3  section ------------------------------------------------------------------------------>
                <div class="col-md-3">
                    <h1>Follow Us</h1>

                    <p>
                        <i class="fab fa-youtube footer-logo"></i>
                        <a href="https://www.youtube.com/">You Tube</a>
                    </p>

                    <p>
                        <i class="fab fa-facebook footer-logo"></i>
                        <a href="https://www.facebook.com/">Facebook</a>
                    </p>

                    <p>
                        <i class="fab fa-linkedin footer-logo"></i>
                        <a href="https://www.linkedin.com/feed/"> LinkedIn</a>
                    </p>

                    <p>
                        <i class="fab fa-twitter-square footer-logo"></i>
                        <a href="https://twitter.com/?lang=en">Twitter</a>
                    </p>

                    <p>
                        <i class="fab fa-twitter-square footer-logo"></i>
                        <a href="https://www.instagram.com/">Instagram</a>
                    </p>
                </div>
                <!-- footer col-4  section ------------------------------------------------------------------------------>
                <div class="col-md-6 footer-image">
                    <h1>Download App</h1>
                    <a href="https://play.google.com/store?utm_source=apac_med&utm_medium=hasem&utm_content=Oct0121&utm_campaign=Evergreen&pcampaignid=MKT-EDR-apac-in-1003227-med-hasem-py-Evergreen-Oct0121-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700058906718226_creativeid_480977734703_device_c&gclid=EAIaIQobChMIqbqf_MuU9AIVmx0rCh0dWQMEEAAYASAAEgICWPD_BwE&gclsrc=aw.ds">
                        <img src="./../assets/img/footer-image.png" alt="">
                      </a>
                </div>

            </div>
            <hr>
            <h1 class="copyright"> <i class="fas fa-at"></i> &copy; Devloper | All Right Reserved</h1>
        </div>
    </section>
    <!-- ====================end footer section======================== -->

</body>

</html>